.resizeImage {
    height: 100px;
    border-radius: 100%;
}

.textAlert {
    color: #a3030e;
}

.textSuccess {
    color: #03a380;
}

.centerTxt {
    text-align: center;
}

.center {
    margin: 1em auto;
    width: auto;
}

.BtnHome {
    margin: 1em;
    width: 50%;
}